#web services
define hostgroup {
        hostgroup_name ansiblemaster
        alias          Ansible Master 
}

{% for host in groups['ansiblemaster'] %}
define host {
        use                     linux-server
        host_name               {{ host }}
        alias                   {{ host }}
        address                 {{ hostvars[host]['man_ip'] }}
        hostgroups              ansiblemaster
}
{% endfor %}

# service checks to be applied to the web server
define service {
        use                             local-service
        hostgroup_name                  ansiblemaster
        service_description             SSH
        check_command                   check_ssh
        notifications_enabled           1
}
define service {
    use                         generic-service
    hostgroup_name              ansiblemaster
    service_description         PING
    check_command               check_ping!200.0,20%!600.0,60%
    notifications_enabled       1
}
define service {
    use                         generic-service
    hostgroup_name              ansiblemaster
    service_description         Users
    check_command               check_local_users
    notifications_enabled       1
}
define service {
    use                         generic-service
    hostgroup_name              ansiblemaster
    service_description         Load
    check_command               check_local_load
    notifications_enabled       1
}

define service {
    use                         generic-service
    hostgroup_name              ansiblemaster
    service_description         Swap
    check_command               check_local_swap
    notifications_enabled       1
}

define service {
    use                         generic-service
    hostgroup_name              ansiblemaster
    service_description         Disk
    check_command               check_local_disk
    notifications_enabled       1
}
